html {
	scroll-behavior: smooth;
}

h1 {
	font-family: "Playwrite IT Moderna";
}

h4, h5, h6, p {
	font-family: Montserrat;
	text-align: justify;
}

/*Navbar*/
#main {
    position: sticky;
    top: 0;
    box-shadow: none; 
    background-color: #FFFFFF; 
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

#main .navbar-brand {
    font-weight: 700;
    color: #212529; 
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9); 
}

/*Header*/
header.header {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(./images/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.btn {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

.btn-link {
    color: #fff;
    background-color: #f4623a;
    border-color: #f4623a;
    text-decoration: none;
}

.btn-link:hover {
    background-color: #d95b30; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    color: #FCDED9;
}

/*Projects*/
#projects {
    background-color: #FCDED9;
    padding: 2rem 0; 
}

#projects .row {
    display: flex;         
    align-items: stretch;   
}

#projects h5, h6 {
    text-align: center;
}

.card {
    display: flex;         
    flex-direction: column; 
    height: 100%;
    transition: transform 0.2s;
}

.card img {
    max-height: 200px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05); 
}

.d-lg-flex {
    flex-wrap: wrap;
}

/*Tools*/
#tools {
    padding: 2rem 0;
    background-color: #f8f9fa;
    width: 100vw;
    position: relative;      
    left: 50%;       
    margin-left: -50vw;     
}

#tools img {
    max-width: 80%;           
    height: auto;             
}

.row {
    margin: 0;                
}

@media (max-width: 576px) {
    #tools img {
        max-width: 50%;
    }
}

/*Contact*/
#map {
    height: 60vh;
    width: 100%;
}

#contact {
    font-family: Montserrat;
    font-weight: 600;
    padding: 2rem 0;
}

#contact img {
    width: 30px;
    height: 30px;
    margin: 1rem;
}

#contact a {
    text-decoration: none;
}

#form-btn {
    background: #FCDED9; 
    color: #765C3D;     
    border: none;       
    border-radius: 15px;
    padding: 0.5rem 1rem;
}


footer {
	font-family: Montserrat;
	background: #FCDED9;
	color: #765C3D;
}
